/*basic css to start*/
/*used AI to help with some of these styles*/
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding-top:10%;
  background:#f0f4f8;
}

.Auth-Page{
  display:flex;
  flex-direction: column;
  width:80%;
  max-width:400px;
  justify-content: center;
  margin: auto;
  background:white;
  border-radius:8px;
  /*AI for shadow*/
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  padding:6%;
}

.User-Page{
  display:flex;
  flex-direction: column;
  width:80%;
  max-width:600px;
  justify-content: center;
  margin: auto;
  background:white;
  border-radius:8px;
  /*AI for shadow*/
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  padding:6%;
}

.auth-form{
  display:flex;
  flex-direction: column;
  gap:10px;
  width:100%;
}

.auth-form input{
  padding: 10px;
  border-radius:4px;
  border:1px solid #cccccc;
}
.auth-form input:focus{
  /*Ai for outline attribute*/
  outline:none;
  border-color: #346fb3;
}

.auth-form button{
  margin-top: 5px;
  padding:10px;
  background-color: #4d8fd9;
  color:white;
  border:none;
  border-radius:4px;
  cursor:pointer;
}

.auth-form button:hover{
  background-color: #3b78be;
}

.Auth-Page button{
  margin-top: 5px;
  padding:10px;
  background-color: #4d8fd9;
  color:white;
  border:none;
  border-radius:4px;
  cursor:pointer;
}

.Auth-Page button:hover{
  background-color: #3b78be;
}



